<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    <body class="{{ if .IsHome }}frontpage-body{{ else }}content-body{{ end }}">
        <!-- Dark mode -->
        <script>
          if (!window.localStorage.getItem("theme")) {
            if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
              window.localStorage.setItem("theme", "dark");
              document.body.classList.add("dark-mode");
            }
          }

          if (window.localStorage.getItem("theme") === "dark") {
            document.body.classList.add("dark-mode");
          }

          function toggleDarkMode() {
            if (document.body.classList.toggle("dark-mode")) {
                window.localStorage.setItem("theme", "dark");
            } else {
                window.localStorage.setItem("theme", "light");
            }
          }
        </script>

        {{- if .IsHome -}}
        {{- partial "frontpage/header.html" . -}}
        {{- else -}}
        {{- partial "header.html" . -}}
        {{- end -}}
        {{- block "main" . }}{{- end }}
        {{- if .IsHome -}}
        {{- partial "frontpage/footer.html" . -}}
        {{- else -}}
        {{- partial "footer.html" . -}}
        {{- end -}}
    </body>
</html>
