{{ define "main" }}
<main class="content-main">
    <div class="content-shell">
        <div class="content-layout">
            {{ partial "sidebar" . }}

            <article class="content-article entry-article">
                <header class="article-header">
                    <h1>{{ .Title }}</h1>
                </header>

                <div class="article-body">
                    {{ .Content }}
                </div>

                <div class="entry-list">
                    {{ range .Pages }}
                    <article class="entry-preview">
                        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                        <p>{{ .Summary }}</p>
                        {{- if not .PublishDate.IsZero }}<p class="publish-date">{{ .PublishDate.Format "2006-01-02" | safeHTMLAttr }}</p>{{- end}}
                    </article>
                    {{ end }}
                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}
