{{ define "main" }}
<main class="content-main">
    <div class="content-shell">
        <div class="content-layout">
            {{ partial "sidebar" . }}

            <article class="content-article" {{- if .Param "autonumbering" }} autonumbering{{- end }}>
                <header class="article-header">
                    <nav class="crumbs" aria-label="Breadcrumb">
                        {{ $rellink := "" }}
                        <ol>
                            {{ range (split .RelPermalink "/") }}
                                {{ if gt (len . ) 0 -}}
                                    {{ $rellink = printf "%s/%s" $rellink . }}
                                    <li><a href="{{ $rellink }}">{{ humanize . }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ol>
                    </nav>
                    <h1>{{ .Title }}</h1>

                    {{- if .IsPage }}
                    {{- if not .PublishDate.IsZero }}<p class="publish-date">{{ .PublishDate.Format "2006-01-02" | safeHTMLAttr }}</p>
                    {{ end }}
                    {{- end }}
                </header>

                <div class="article-body">
                    {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" "${1} <a class=\"anchor-link\" href=\"#${2}\">#</a>${3}" | safeHTML }}
                </div>
            </article>

            {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
            <aside class="article-toc" aria-label="Table of contents">
                <div class="article-toc-inner">
                    {{ .TableOfContents }}
                </div>
            </aside>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
