<footer class="odin-footer">
    <div class="container mx-auto px-6 py-12">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8">

            <!-- Brand -->
            <div class="col-span-2 md:col-span-1">
                <a href="/" class="inline-block mb-3 no-underline">
                    <img src="/logo.svg" alt="Odin" style="height:28px;width:auto;display:block;" />
                </a>
                <p class="odin-footer-slogan">{{ .Site.Params.Slogan }}</p>
            </div>

            <!-- Resources -->
            <nav>
                <h4>Resources</h4>
                <ul class="list-none p-0 m-0 flex flex-col gap-2">
                    <li><a href="/docs">Docs</a></li>
                    <li><a href="https://pkg.odin-lang.org/">Packages</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/showcase">Showcase</a></li>
                </ul>
            </nav>

            <!-- Community -->
            <nav>
                <h4>Community</h4>
                <ul class="list-none p-0 m-0 flex flex-col gap-2">
                    <li><a href="https://github.com/odin-lang/Odin" target="_blank">GitHub</a></li>
                    <li><a href="https://discord.gg/vafXTdubwr" target="_blank">Discord</a></li>
                    <li><a href="https://forum.odin-lang.org" target="_blank">Forum</a></li>
                    <li><a href="https://www.twitch.tv/ginger_bill" target="_blank">Twitch</a></li>
                    <li><a href="https://www.youtube.com/channel/UCUSck1dOH7VKmG4lRW7tZXg" target="_blank">YouTube</a></li>
                </ul>
            </nav>

            <!-- Contribute -->
            <nav>
                <h4>Contribute</h4>
                <ul class="list-none p-0 m-0 flex flex-col gap-2">
                    <li><a href="https://github.com/odin-lang/Odin/issues" target="_blank">Issues</a></li>
                    <li><a href="https://github.com/sponsors/odin-lang/" target="_blank">Sponsor</a></li>
                    <li><a href="https://www.patreon.com/gingerbill" target="_blank">Patreon</a></li>
                </ul>
            </nav>

        </div>

        <hr class="my-8" style="border-color:rgba(255,255,255,0.07);" />

        <p class="text-xs" style="color:#3d5a78;">&copy; 2016–2024 Ginger Bill</p>
    </div>
</footer>

<script src="/js/script.js"></script>
