<nav class="odin-sidebar">
    <div class="sticky odin-below-navbar px-2 flex flex-col gap-0.5">
        {{ $currentPage := . }}
        {{ range where .Site.RegularPages "Section" .Section }}
            {{/* NOTE(Wojciech): This is not the way they tell you to do this in the docs but the way in the docs is broken.
            Presumably we can change this when they fix it (haven't for 3 years). */}}
            {{ $active := eq $currentPage.RelPermalink .RelPermalink }}
            <a
                class="odin-sidebar-link{{if $active}} active{{end}}"
                href="{{ .RelPermalink }}"
                {{if $active}}aria-current="page"{{end}}
            >{{ .LinkTitle }}</a>
        {{ end }}
    </div>
</nav>
